<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyril.urlshortener.mapper.ShortUrlMapper">
    <resultMap id="Url_Pair" type="com.cyril.urlshortener.dao.UrlPair">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="short_url_key" property="shortUrlKey" jdbcType="VARCHAR" />
        <result column="long_url" property="longUrl" jdbcType="VARCHAR" />
<!--        <result column="usage_cnt" property="usageCnt" jdbcType="INTEGER" />-->
    </resultMap>
    <sql id="findLongUrls" >
        SELECT long_url
        FROM url_pair
        WHERE short_url_key = '${short_input}'
    </sql>
    <insert id="insert" parameterType="com.cyril.urlshortener.bean.ShortUrl">
        INSERT INTO url_pair(long_url, short_url_key, create_time)
        VALUES (#{longUrl,jdbcType=VARCHAR}, #{shortUrlKey,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE})
    </insert>
    <delete id="deleteByDate">
#         delete
    </delete>
    <delete id="deleteByUrlPair">

    </delete>
    <select id="selectByShortUrl" parameterType="com.cyril.urlshortener.bean.ShortUrl" resultType="java.lang.String">
        <include refid="findLongUrls">
            <property name="short_inputs" value="#{shortUrlKey,jdbcType=VARCHAR}" />
        </include>
    </select>
    <select id="selectByString" resultType="java.lang.String">
        <include refid="findLongUrls">
            <property name="short_inputs" value="${shortUrl}" />
        </include>
    </select>
    <select id="getTopN" resultMap="Url_Pair" parameterType="integer">
        SELECT  short_url_key, long_url
        FROM url_pair
        LIMIT ${n}
    </select>
</mapper>