<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyril.urlshortener.mapper.ShortUrlMapper">
        <sql id="findLongUrls" >
            select long_url
            from url_pair
            where short_url = '${short_input}'
        </sql>
    <!--    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--        select-->
    <!--        <include refid="Base_Column_List" />-->
    <!--        from adjustsalary-->
    <!--        where id = #{id,jdbcType=INTEGER}-->
    <!--    </select>-->
    <insert id="insert" parameterType="com.cyril.urlshortener.bean.ShortUrl">
        insert into url_pair
        values (null, #{longUrl,jdbcType=VARCHAR}, #{shortUrl,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE})
    </insert>
    <select id="selectByShortUrl" parameterType="com.cyril.urlshortener.bean.ShortUrl" resultType="java.lang.String">
        <include refid="findLongUrls">
            <property name="short_inputs" value="#{shortUrl,jdbcType=VARCHAR}" />
        </include>
    </select>
    <select id="selectByString" resultType="java.lang.String">
        <include refid="findLongUrls">
            <property name="short_inputs" value="${shortUrl}" />
        </include>
    </select>
</mapper>