<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyril.urlshortener.mapper.ShortUrlMapper">
    <resultMap id="Url_Pair" type="com.cyril.urlshortener.dao.UrlPair">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="short_url_key" property="shortUrlKey" jdbcType="VARCHAR" />
        <result column="long_url" property="longUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="access_cnt" property="accessCnt" jdbcType="INTEGER" />
        <result column="last_access_timestamp" property="lastAccessTs" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="findLongUrls" >
        SELECT long_url
        FROM url_pair
        WHERE short_url_key = '${short_input}'
    </sql>
    <sql id="fillUrlPair" >
        id, short_url_key, long_url, create_time, access_cnt, last_access_timestamp
    </sql>
    <insert id="insert" parameterType="com.cyril.urlshortener.bean.ShortUrl">
        INSERT INTO url_pair(long_url, short_url_key, create_time)
        VALUES (#{longUrl,jdbcType=VARCHAR}, #{shortUrlKey,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE})
    </insert>
    <delete id="deleteByDate" parameterType="java.util.Date">
        DELETE FROM url_pair WHERE last_access_timestamp &lt; #{date};
    </delete>
    <delete id="deleteByExistPeriod" parameterType="integer">
        DELETE FROM url_pair WHERE datediff(last_access_timestamp, create_time) &gt; '${days}'
    </delete>
    <delete id="deleteByExistPeriodTest">
        DELETE FROM url_pair WHERE datediff(DAY, last_access_timestamp, create_time) &gt; '${days}'
    </delete>
    <select id="selectByString" resultType="java.lang.String">
        <include refid="findLongUrls">
            <property name="short_inputs" value="${shortUrl}" />
        </include>
    </select>
    <select id="getTopN" resultMap="Url_Pair" parameterType="integer">
        SELECT <include refid="fillUrlPair" />
        FROM url_pair
        ORDER BY access_cnt DESC
        LIMIT ${n}
    </select>
    <select id="selectAll" resultMap="Url_Pair">
        SELECT <include refid="fillUrlPair" />
        FROM url_pair;
    </select>
</mapper>